.ImagenPlatos{
  height: 80px;
  width: 80px;
  float: left;
}

.Platos-menu{
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.Pedidos-menu{
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.TitlePlatos{
  margin-top: 0;
  text-align: left;
}

.DescripcionPlatos{
  text-align: justify;
}

.PrecioPlatos{
  margin-left: 60px;
}

.EspacioPlatos{
  float: right;
  margin-left: 10px;
}

.AlineacionBoton{
  float: right;
}

.APrecioCantidad{
  float: right;
}

.ListMargin{
  margin-left: 20px;
}
